

<!--
  First text area should show the operation as a*b
-->
<textarea [(ngModel)]=input rows="10" cols="50">  </textarea>

<!--
  Second text area should show the result of the operation or in any case both should show that the operation is not valid
  as
  first text => non valid valid operation
  second text => why e.g.:  "first value is no valid"

-->
<textarea [(ngModel)]=result rows="10" cols="50">  </textarea>


<input type="text" [(ngModel)]=firstValue (keyup)="onInputChanged()"/>

<input type="text" [(ngModel)]=secondValue (keyup)="onInputChanged()"/>

